<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Dough Re Mi Bakery - About Us</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/css/bootstrap.js"></script>
<style>
.rounded-button {
	width: 120px;
	height: 40px;
	border-radius: 10px;
	border: none;
	background-color: #5c483d;
	color: white;
	margin-left: 110px;
}
.card {
  max-width: 250px;
  text-align: center;
  font-family: Verdana;
}

</style>
</head>
<body style="background-color: #9F8170; font-family: Verdana;" >
	<div class="container">
		<div th:replace="fragments/header"></div>
	</div>
	<div class="container">
	<br/>
	<p style="font-size:40px;"> Singapore's bakery selling cakes to meet your dietary needs!</p>
	</div>
	<div class="container">
		<div th:replace="fragments/footer"></div>
	</div>
</body>
</html>