<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dough Re Mi Bakery - View Members</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
	<div class="container content-container">
		<div th:replace="fragments/header"></div>
		<div th:replace="fragments/style"></div>
		<main>
			<div class="container">
				<div class="alert alert-primary" role="alert" th:text="${success}"
					th:if="${success}"></div>

				<div>
					<input type="text" class="form-control" placeholder="Search"
						id="filterInput" style="width: 300px; float: right;">
				</div>
				<table class="table bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Username</th>
							<th>Email</th>
							<th>Role</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="member : ${listMembers}">
							<td th:text="${member.id}"></td>
							<td th:text="${member.name}"></td>
							<td th:text="${member.username}"></td>
							<td th:text="${member.email}"></td>
							<td th:text="${member.role}"></td>
							<td><a th:href="@{/members/edit/{id}(id=${member.id})}" style="color: black;">Edit</a>
								| <a th:href="@{/members/delete/{id}(id=${member.id})}" style="color: black;">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
				<a href="/members/add" class="btn btn-primary">Add Member</a>
			</div>
		</main>
		<div th:replace="fragments/footer"></div>
	</div>

	<script>
		function filterTable() {
			var input, filter, table, tr, td, i, txtValue;
			input = document.getElementById("filterInput");
			filter = input.value.toUpperCase();
			table = document.querySelector(".table");
			tr = table.getElementsByTagName("tr");

			for (i = 0; i < tr.length; i++) {
				td = tr[i].getElementsByTagName("td")[1];
				if (td) {
					txtValue = td.textContent || td.innerText;
					if (txtValue.toUpperCase().indexOf(filter) > -1) {
						tr[i].style.display = "";
					} else {
						tr[i].style.display = "none";
					}
				}
			}
		}

		document.getElementById("filterInput").addEventListener("input",
				filterTable);
	</script>
</body>
</html>
