<header style="background-color: #5c483d; padding: 20px;">
'<br/>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" >
		<div class="container-fluid" >
			<a class="navbar-brand" style="background-color: #F3EADE; width:350px;" href="/home" > 
			<img src="/img/logo.png" style="width: 100px; height: 100px"> <span class="navbar-brand-h1">Dough Re Mi Bakery</span>
			</a>
			<div class="navbar-nav me-auto">
			<br/>
				<a class="nav-link active" href="/home" style= "font-size: 20px;">Home</a> 
				<a class="nav-link active" href="/items" style= "font-size: 20px;">Items</a> 
				<a class="nav-link active" href="/items" style= "font-size: 20px;">Members</a> 
				<a class="nav-link active" href="/aboutus" style= "font-size: 20px;">About Us</a>
				<a href="/cart" target="_self" style="margin-left:300px; color: black;">
					<img src="/img/cart.png" style="width: 45px; height: 45px; display: block; margin:0 auto;">
				 	<span style="margin-left: 10px;">Cart</span></a>
			    <a href="/login" target="_self" style="margin-left:50px; color: black;">
			    	<img src="/img/human.jpg" style="width: 45px; height: 45px; display: block; margin: 0 auto; ">Account</a>
      </div> 
			</div>
		</div>
	</nav>
</header>
